# Ignore Everything
/*

# Except
!README.md
!.gitignore
!.bashrc
!.gtkrc-2.0

!/.xmonad
/.xmonad/*
!/.xmonad/xmonad.hs


/.config/*
!/.config/starship.toml

!/.config
!/.config/xmobar
!/.config/alacritty
!/.config/neofetch
!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.vim
